## Exploration - Euroleague Project

In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import math
import glob

In [143]:
# Concatenating all the NBA foreign born files into one
files = glob.glob('data/nba/*csv')
dfs = []
for file in files:
    df = pd.read_csv(file)
    df['Country'] = file
    dfs.append(df)
    df['Country'] = df['Country'].str.split('_').str[0]
df = pd.concat(dfs, ignore_index=True)
df['Country'] = df['Country'].str.split('/', n=1).str[-1]
df['Country'] = df['Country'].str.split('/', n=1).str[-1]

# Replacing header row 
new_header = df.iloc[0] 
df = df[1:] 
df.columns = new_header

In [144]:
# Renaming columns
df = df.rename(columns={'switzerland':'Country', 'Date':'Birth Date'})
# df = df.rename(columns={ df.columns[25]: "PPG"})
# df = df.rename(columns={ df.columns[24]: "MP PG"})
# df = df.rename(columns={ df.columns[26]: "TRB PG"})
# df = df.rename(columns={ df.columns[27]: "AST PG"})

# Cleaning up country names
df = df.replace(to_replace ="antigua", value ="Antigua Barbuda") 
df = df.replace(to_replace ="cape", value ="Cape Verde")
df = df.replace(to_replace ="czech", value ="Czech Republic")
df = df.replace(to_replace ="dominican", value ="Dominican Republic")
df = df.replace(to_replace ="french", value ="French Guiana")
df = df.replace(to_replace ="new", value ="New Zealand")
df = df.replace(to_replace ="puerto", value ="Puerto Rico")
df = df.replace(to_replace ="saint", value ="Saint Lucia")
df = df.replace(to_replace ="saintvincent", value ="Saint Vincent and the Grenadines")
df = df.replace(to_replace ="south", value ="South Africa")
df = df.replace(to_replace ="southsudan", value ="South Africa")
df = df.replace(to_replace ="trinidad", value ="Trinidad & Tobago")
df = df.replace(to_replace ="united", value ="United Kingdom")
df = df.replace(to_replace ="us", value ="US Virgin Islands")

# Capitalizing the countries 
df['Country'] = df.Country.str.title()

In [145]:
# Dropping duplicates
df = df.drop_duplicates()

# Dropping the Ranking column 
df = df.drop(['Rk'], axis=1)

# Dropping the extra header rows that keep popping up
df = df[~df.From.str.contains("From")]

In [149]:
#df.to_csv('data/cleaned/composite.csv', header = True)

In [151]:
df.head(60)

,Player,Yrs,From,To,G,MP,FG,FGA,3P,3PA,...,FG%,3P%,FT%,MP,PTS,TRB,AST,Birth Date,City,Country
1,Clint Capela,6,2015,2020,334,8674,1766,2785,0,2,...,0.634,0,0.526,26,12.2,9.7,1,18-May-94,Geneva,Switzerland
2,Enes Kanter,9,2012,2020,641,13932,3036,5596,43,150,...,0.543,0.287,0.776,21.7,11.6,7.6,0.9,20-May-92,Zurich,Switzerland
3,Thabo Sefolosha,14,2007,2020,869,19062,1916,4265,513,1469,...,0.449,0.349,0.732,21.9,5.7,3.7,1.4,2-May-84,Vevey,Switzerland
4,Nikola Vučević,9,2012,2020,598,18103,4185,8386,276,825,...,0.499,0.335,0.746,30.3,16.1,10.2,2.6,24-Oct-90,Morges,Switzerland
6,Edy Tavares,2,2016,2017,13,101,15,24,0,0,...,0.625,NaN,0.273,7.8,2.5,2.5,0.3,22-Mar-92,Maio,Cape Verde
8,Bol Bol,1,2020,2020,7,87,14,28,4,9,...,0.5,0.444,0.8,12.4,5.7,2.7,0.9,16-Nov-99,Khartoum,Sudan
9,Wenyen Gabriel,1,2020,2020,30,235,21,48,6,20,...,0.438,0.3,0.682,7.8,2.1,1.7,0.3,26-Mar-97,Khartoum,Sudan
11,Sergei Bazarevich,1,1995,1995,10,74,11,22,1,6,...,0.5,0.167,0.778,7.4,3,0.7,1.4,16-Mar-65,Moscow,Russia
12,Sergey Karasev,3,2014,2016,95,1110,96,243,31,110,...,0.395,0.282,0.842,11.7,3,1.5,0.9,26-Oct-93,St. Petersburg,Russia
13,Sasha Kaun,1,2016,2016,25,95,9,17,0,0,...,0.529,NaN,0.455,3.8,0.9,1,0.1,8-May-85,Tomsk,Russia
14,Andrei Kirilenko,13,2002,2015,797,23916,3146,6637,367,1185,...,0.474,0.31,0.754,30,11.8,5.5,2.7,18-Feb-81,Izhevsk,Russia
15,Yaroslav Korolev,2,2006,2007,34,168,13,46,3,12,...,0.283,0.25,0.625,4.9,1.1,0.5,0.4,7-May-87,Moscow,Russia
16,Johnny Macknowski,2,1950,1951,117,NaN,285,898,NaN,NaN,...,0.317,NaN,0.727,NaN,7,1.9,1.1,7-Jan-23,NaN,Russia
17,Sergei Monia,1,2006,2006,26,343,29,87,9,34,...,0.333,0.265,0.714,13.2,3,2,0.7,15-Apr-83,Saratov,Russia
18,Timofey Mozgov,8,2011,2018,454,8181,1230,2301,11,58,...,0.535,0.19,0.738,18,6.8,4.9,0.6,16-Jul-86,St. Petersburg,Russia
19,Pavel Podkolzin,2,2005,2006,6,28,0,2,0,0,...,0,NaN,0.5,4.7,0.7,1.5,0,15-Jan-85,Novosibirsk,Russia
20,Alexey Shved,3,2013,2015,182,3271,445,1207,162,529,...,0.369,0.306,0.762,18,7.4,2,2.5,16-Dec-88,Belgorod,Russia
21,Alexander Volkov,2,1990,1992,149,2453,388,853,48,144,...,0.455,0.333,0.613,16.5,6.8,2.6,2.2,28-Mar-64,Omsk,Russia
23,Deandre Ayton,2,2019,2020,109,3419,819,1438,3,17,...,0.57,0.176,0.748,31.4,17,10.7,1.8,23-Jul-98,Nassau,Bahamas
24,Dexter Cambridge,1,1993,1993,53,885,151,312,0,4,...,0.484,0,0.687,16.7,7,3.2,1.1,29-Jan-70,Eleuthra,Bahamas
25,Buddy Hield,4,2017,2020,316,8743,1864,4222,873,2126,...,0.441,0.411,0.866,27.7,15.9,4.2,2.2,17-Dec-92,Freeport,Bahamas
26,Ian Lockhart,1,1991,1991,1,2,1,1,0,0,...,1,NaN,1,2,4,0,0,25-Jun-67,Nassau,Bahamas
27,Mychal Thompson,12,1979,1991,935,27764,5191,10306,1,12,...,0.504,0.083,0.655,29.7,13.7,7.4,2.3,30-Jan-55,Nassau,Bahamas
29,Adonal Foyle,12,1998,2009,733,13060,1318,2766,0,2,...,0.477,0,0.499,17.8,4.1,4.7,0.5,9-Mar-75,Canouan,Saint Vincent And The Grenadines
31,Nicolás Brussino,2,2017,2018,58,531,52,143,29,97,...,0.364,0.299,0.773,9.2,2.6,1.7,0.8,2-Mar-93,Santa Fe,Argentina
32,Carlos Delfino,8,2005,2013,507,11580,1472,3669,678,1856,...,0.401,0.365,0.758,22.8,8.1,3.6,1.7,29-Aug-82,Santa Fe,Argentina
33,Patricio Garino,1,2017,2017,5,43,0,7,0,5,...,0,0,NaN,8.6,0,1.4,0,17-May-93,Buenos Aires,Argentina
34,Manu Ginóbili,16,2003,2018,1057,26859,4584,10262,1495,4055,...,0.447,0.369,0.827,25.4,13.3,3.5,3.8,28-Jul-77,Bahia Blanca,Argentina
35,Walter Herrmann,3,2007,2009,152,1939,312,681,114,299,...,0.458,0.381,0.786,12.8,5.4,2.1,0.4,26-Jun-79,Venado Tuerto,Argentina
36,Nicolás Laprovíttola,1,2017,2017,18,174,20,47,10,27,...,0.426,0.37,1,9.7,3.3,0.6,1.6,31-Jan-90,Buenos Aires,Argentina
37,Andrés Nocioni,8,2005,2012,514,12013,1932,4478,587,1574,...,0.431,0.373,0.799,23.4,10.5,4.5,1.2,30-Nov-79,Santa Fe,Argentina
38,Fabricio Oberto,6,2006,2011,336,4871,481,835,0,4,...,0.576,0,0.617,14.5,3.2,3.5,0.9,21-Mar-75,Las Varillas,Argentina
39,Pablo Prigioni,4,2013,2016,270,4566,334,786,203,535,...,0.425,0.379,0.872,16.9,3.5,1.9,2.8,17-May-77,Rio Tercero,Argentina
40,Pepe Sánchez,2,2001,2003,38,187,9,33,0,1,...,0.273,0,1,4.9,0.5,0.6,1.3,8-May-77,Bahia Blanca,Argentina
41,Luis Scola,10,2008,2017,743,19001,3669,7442,92,271,...,0.493,0.339,0.74,25.6,12,6.7,1.6,30-Apr-80,Buenos Aires,Argentina
42,Rubén Wolkowyski,2,2001,2003,41,329,27,83,0,3,...,0.325,0,0.684,8,2,1.1,0.1,30-Sep-73,Buenos Aires,Argentina
44,Hank Beenders,3,1947,1949,111,NaN,348,1313,NaN,NaN,...,0.265,NaN,0.687,NaN,8.4,NaN,0.5,2-Jun-16,Haarlem,Netherlands
45,Francisco Elson,9,2004,2012,472,7207,725,1517,3,16,...,0.478,0.188,0.7,15.3,3.7,3.5,0.6,28-Feb-76,Rotterdam,Netherlands
46,Dan Gadzuric,10,2003,2012,527,7793,1049,2100,0,8,...,0.5,0,0.498,14.8,4.7,4.4,0.4,2-Feb-78,Den Haag,Netherlands
47,Geert Hammink,3,1994,1996,8,27,4,10,0,0,...,0.4,NaN,0.667,3.4,1.8,0.9,0.3,12-Jul-69,Didam,Netherlands
48,Swen Nater,11,1974,1984,722,20746,3714,6939,1,10,...,0.535,0.1,0.748,28.7,12.4,11.6,1.7,14-Jan-50,Den Helder,Netherlands
49,Rik Smits,12,1989,2000,867,23100,5301,10461,3,26,...,0.507,0.115,0.773,26.6,14.8,6.1,1.4,23-Aug-66,Eindhoven,Netherlands
51,Rawle Marshall,2,2006,2007,63,602,56,149,5,21,...,0.376,0.238,0.716,9.6,2.7,1,0.4,20-Feb-82,Georgetown,Guyana
52,Jason Miskiri,1,2000,2000,1,3,0,1,0,1,...,0,0,NaN,3,0,0,1,19-Aug-75,Georgetown,Guyana
54,Kyle Alexander,1,2020,2020,2,13,1,2,0,0,...,0.5,NaN,NaN,6.5,1,1.5,0,21-Oct-96,Scarborough,Canada
55,Nickeil Alexander-Walker,1,2020,2020,47,591,98,266,46,133,...,0.368,0.346,0.676,12.6,5.7,1.8,1.9,2-Sep-98,Toronto,Canada
56,Joel Anthony,10,2008,2017,490,7056,398,776,0,0,...,0.513,NaN,0.662,14.4,2.2,2.8,0.2,9-Aug-82,Montreal,Canada
57,Norm Baker,1,1947,1947,4,NaN,0,1,NaN,NaN,...,0,NaN,NaN,NaN,0,NaN,0,17-Feb-23,Victoria,Canada
58,RJ Barrett,1,2020,2020,56,1704,292,727,63,197,...,0.402,0.32,0.614,30.4,14.3,5,2.6,14-Jun-00,Toronto,Canada
59,Anthony Bennett,4,2014,2017,151,1905,251,641,36,138,...,0.392,0.261,0.67,12.6,4.4,3.1,0.5,14-Mar-93,Toronto,Canada
60,Sim Bhullar,1,2015,2015,3,3,1,2,0,0,...,0.5,NaN,NaN,1,0.7,0.3,0.3,2-Dec-92,Ontario,Canada
61,Khem Birch,3,2018,2020,140,2143,232,420,0,2,...,0.552,0,0.678,15.3,4.5,4.2,0.9,28-Sep-92,Montreal,Canada
62,Oshae Brissett,1,2020,2020,19,135,13,36,3,15,...,0.361,0.2,0.8,7.1,1.9,1.4,0.4,20-Jun-98,Toronto,Canada
63,Dillon Brooks,3,2018,2020,173,4792,824,1962,256,715,...,0.42,0.358,0.777,27.7,12.8,3.1,1.7,22-Jan-96,Mississauga,Canada
64,Brandon Clarke,1,2020,2020,58,1300,296,479,23,64,...,0.618,0.359,0.759,22.4,12.1,5.9,1.4,19-Sep-96,Vancouver,Canada
65,Ron Crevier,1,1986,1986,3,4,0,3,0,0,...,0,NaN,0,1.3,0,0.3,0,14-Apr-58,Montreal,Canada
66,Bobby Croft,1,1971,1971,62,739,126,348,0,2,...,0.362,0,0.652,11.9,5.2,3.3,0.7,17-Mar-46,NaN,Canada
67,Luguentz Dort,1,2020,2020,36,820,86,218,30,101,...,0.394,0.297,0.792,22.8,6.8,2.3,0.8,19-Apr-99,Montreal,Canada
68,Tyler Ennis,4,2015,2018,186,2336,320,763,66,208,...,0.419,0.317,0.768,12.6,4.2,1.3,1.9,24-Aug-94,Brampton,Canada
69,Rick Fox,13,1992,2004,930,23723,3382,7519,771,2208,...,0.45,0.349,0.77,25.5,9.6,3.8,2.8,24-Jul-69,Toronto,Canada

In [16]:
# Cleaning the Euroleague data
files = glob.glob('data/euroleague/*csv')
dfs = []
for file in files:
    euro_df = pd.read_csv(file)
    euro_df['End Year'] = file
    dfs.append(euro_df)
    euro_df['End Year'] = euro_df['End Year'].str.split('_').str[1]

euro_df = pd.concat(dfs, ignore_index=True)
euro_df['End Year'] = euro_df['End Year'].str.split('.').str[0]
#euro_df.to_csv('data/cleaned/euroleague_composite.csv', index=False)
euro_df

,Player,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,End Year
0,Aaron Miles,Panionios On Telecoms,10,322,37,95,0.389,5,20,0.250,...,5,23,28,33,19,1,22,20,102,2009
1,Aboubakar Zaki,SLUC Nancy,10,87,5,12,0.417,0,1,0.000,...,6,14,20,2,1,5,4,13,13,2009
2,Adam Chubb,Alba Berlin,16,282,44,75,0.587,1,1,1.000,...,18,48,66,2,6,4,19,57,121,2009
3,Adam Hrycaniuk,Asseco Prokom Sopot,15,164,6,29,0.207,0,3,0.000,...,19,33,52,3,6,2,11,35,17,2009
4,Adam Lapeta,Asseco Prokom Sopot,4,26,3,5,0.600,0,1,0.000,...,4,1,5,0,0,0,0,7,8,2009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6573,Vule Avdalovic,Partizan,14,323,28,73,0.384,15,39,0.385,...,4,15,19,23,13,2,23,53,105,2004
6574,Walter Herrmann,Unicaja Malaga,12,306,43,108,0.398,9,35,0.257,...,21,44,65,8,4,3,18,21,115,2004
6575,Ioannis Bourousis,AEK Athens,12,94,9,18,0.500,0,0,NaN,...,9,17,26,3,4,4,2,23,21,2004
6576,Yoav Saffar,Maccabi Tel Aviv,3,1,0,0,NaN,0,0,NaN,...,0,0,0,0,0,0,0,0,0,2004
6577,Yotam Halperin,Maccabi Tel Aviv,17,109,10,25,0.400,3,11,0.273,...,2,16,18,13,8,0,3,15,35,2004

In [17]:
# Dropping rows with incomplete information. I'm not too concerned with the information lost here since most
# players with meaningful minutes will have some contribution to each metric. 
euro_df = euro_df.dropna()
euro_df

,Player,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,End Year
0,Aaron Miles,Panionios On Telecoms,10,322,37,95,0.389,5,20,0.250,...,5,23,28,33,19,1,22,20,102,2009
1,Aboubakar Zaki,SLUC Nancy,10,87,5,12,0.417,0,1,0.000,...,6,14,20,2,1,5,4,13,13,2009
2,Adam Chubb,Alba Berlin,16,282,44,75,0.587,1,1,1.000,...,18,48,66,2,6,4,19,57,121,2009
3,Adam Hrycaniuk,Asseco Prokom Sopot,15,164,6,29,0.207,0,3,0.000,...,19,33,52,3,6,2,11,35,17,2009
4,Adam Lapeta,Asseco Prokom Sopot,4,26,3,5,0.600,0,1,0.000,...,4,1,5,0,0,0,0,7,8,2009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6570,Vlado Ilievski,FC Barcelona,20,544,63,148,0.426,33,76,0.434,...,6,24,30,47,25,0,33,49,198,2004
6572,Vrbica Stefanov,Montepaschi Siena,20,604,81,150,0.540,31,60,0.517,...,11,23,34,60,29,0,15,45,212,2004
6573,Vule Avdalovic,Partizan,14,323,28,73,0.384,15,39,0.385,...,4,15,19,23,13,2,23,53,105,2004
6574,Walter Herrmann,Unicaja Malaga,12,306,43,108,0.398,9,35,0.257,...,21,44,65,8,4,3,18,21,115,2004
6577,Yotam Halperin,Maccabi Tel Aviv,17,109,10,25,0.400,3,11,0.273,...,2,16,18,13,8,0,3,15,35,2004

In [18]:
player_df = euro_df.groupby('Player')

In [24]:
player_df.get_group('Zoran Planinic')

,Player,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,End Year
337,Zoran Planinic,CSKA Moscow,19,355,42,94,0.447,15,44,0.341,...,6,28,34,39,9,5,11,52,133,2009
984,Zoran Planinic,TAU Ceramica,25,618,101,196,0.515,21,56,0.375,...,14,55,69,77,23,5,47,61,266,2008
1841,Zoran Planinic,Anadolu Efes,23,541,74,188,0.394,17,57,0.298,...,9,47,56,85,20,1,45,70,193,2014
3084,Zoran Planinic,Cibona Zagreb,18,400,49,114,0.430,8,34,0.235,...,10,40,50,51,15,1,38,54,141,2003
3541,Zoran Planinic,Cibona Zagreb,8,198,31,61,0.508,7,14,0.500,...,7,11,18,19,9,3,21,30,97,2002
4901,Zoran Planinic,TAU Ceramica,18,437,58,127,0.457,9,32,0.281,...,15,34,49,68,23,6,24,43,167,2007
5238,Zoran Planinic,BC Khimki,22,678,105,235,0.447,9,55,0.164,...,16,70,86,139,25,2,66,57,273,2013
5908,Zoran Planinic,BC Khimki,10,290,40,82,0.488,9,31,0.290,...,8,34,42,31,9,2,21,29,111,2011
6249,Zoran Planinic,CSKA Moscow,21,449,60,132,0.455,13,44,0.295,...,13,47,60,44,23,2,39,47,157,2010

In [23]:
euro_calc = euro_df.drop(columns=['Team', 'End Year'])

euro_calc = euro_calc.groupby(['Player'], as_index=False).agg({'G':'sum', 'MP':'sum', 'FG':'sum', 
                                                               'MP':'sum', 'FG':'sum', 'FGA':'sum', 'FG':'mean',
                                                               '3P':'sum', '3PA':'sum', '3P%':'mean', '2P':'sum',
                                                               '2PA':'sum', '2P%':'mean', 'eFG%':'mean', 'FT':'sum',
                                                               'FTA':'sum', 'FT%':'mean', 'ORB':'sum', 'DRB':'sum'
                                                              , 'TRB':'sum', 'AST':'sum', 'STL':'sum', 'BLK':'sum'
                                                              , 'TOV':'sum', 'PF':'sum', 'PTS':'sum'})


euro_calc

,Player,G,MP,FG,FGA,3P,3PA,3P%,2P,2PA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,A.J. Slaughter,23,524,80.000000,206,40,109,0.367000,40,97,...,0.800000,6,40,46,39,10,1,27,56,224
1,AJ Guyton,14,252,15.500000,80,14,42,0.293000,17,38,...,0.596000,5,16,21,13,11,0,11,25,87
2,Aaron Doornekamp,58,1122,50.500000,265,65,179,0.367500,36,86,...,0.746000,40,140,180,72,35,11,30,119,315
3,Aaron Jackson,178,3501,58.000000,825,110,300,0.358286,296,525,...,0.756714,77,248,325,457,117,5,211,298,1095
4,Aaron Miles,30,940,57.000000,266,24,61,0.356500,90,205,...,0.682000,18,82,100,107,48,4,64,66,305
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1932,Zoran Erceg,98,2100,57.600000,675,126,347,0.369600,162,328,...,0.835000,89,259,348,81,70,15,84,182,895
1933,Zoran Planinic,164,3966,62.222222,1229,108,367,0.308778,452,862,...,0.673111,98,366,464,553,156,27,312,443,1538
1934,Zoran Savic,23,367,34.500000,133,20,56,0.345500,49,77,...,0.563500,15,46,61,19,13,1,39,68,194
1935,Zoran Vrkic,6,50,7.000000,12,2,3,0.667000,5,9,...,0.667000,1,10,11,1,2,0,3,6,20
1936,Zygimantas Janavicius,17,209,8.500000,46,5,16,0.208500,12,30,...,0.416500,4,13,17,19,5,0,22,28,43

In [25]:
euro_calc = euro_calc.round({'FG': 2, '3P%': 2, 'FT%': 2, '2P%': 2, 'eFG%': 2})
euro_calc

,Player,G,MP,FG,FGA,3P,3PA,3P%,2P,2PA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,A.J. Slaughter,23,524,80.00,206,40,109,0.37,40,97,...,0.80,6,40,46,39,10,1,27,56,224
1,AJ Guyton,14,252,15.50,80,14,42,0.29,17,38,...,0.60,5,16,21,13,11,0,11,25,87
2,Aaron Doornekamp,58,1122,50.50,265,65,179,0.37,36,86,...,0.75,40,140,180,72,35,11,30,119,315
3,Aaron Jackson,178,3501,58.00,825,110,300,0.36,296,525,...,0.76,77,248,325,457,117,5,211,298,1095
4,Aaron Miles,30,940,57.00,266,24,61,0.36,90,205,...,0.68,18,82,100,107,48,4,64,66,305
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1932,Zoran Erceg,98,2100,57.60,675,126,347,0.37,162,328,...,0.84,89,259,348,81,70,15,84,182,895
1933,Zoran Planinic,164,3966,62.22,1229,108,367,0.31,452,862,...,0.67,98,366,464,553,156,27,312,443,1538
1934,Zoran Savic,23,367,34.50,133,20,56,0.35,49,77,...,0.56,15,46,61,19,13,1,39,68,194
1935,Zoran Vrkic,6,50,7.00,12,2,3,0.67,5,9,...,0.67,1,10,11,1,2,0,3,6,20
1936,Zygimantas Janavicius,17,209,8.50,46,5,16,0.21,12,30,...,0.42,4,13,17,19,5,0,22,28,43